doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title A very useful calculator
    script(src="index.js")
    link(rel="stylesheet", href="style.css")
  body
    div(class="container")
      div(class="display") 0
      div(class="row")
        button(type="button", value="AC") AC
        button(type="button", value="+/-") +/-
        button(type="button", value="Delete") Delete
      div(class="row")
        button(type="button", value="7") 7
        button(type="button", value="8") 8
        button(type="button", value="9") 9
        button(type="button", value="divide") /
      div(class="row")
        button(type="button", value="4") 4
        button(type="button", value="5") 5
        button(type="button", value="6") 6
        button(type="button", value="multiply") x
      div(class="row")
        button(type="button", value="7") 3
        button(type="button", value="8") 2
        button(type="button", value="9") 1
        button(type="button", value="sub") -
      div(class="row")
        button(type="button", value="7") 0
        button(type="button", value="8") .
        button(type="button", value="9") =
        button(type="button", value="add") +
        
    div(class="footer")
      span Copyright Shaheer Amjad © 2022 |
      a(href="https://github.com/shaheerszm") Github




